name: .NET

on:
  push:
    branches:
      - master
  pull_request:
    types: [closed]
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.301

    - name: Restore Dependencies
      run: dotnet restore

    - name: Increment Version
      uses: anothrNick/github-tag-action@1.26.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        DEFAULT_BUMP: patch

    - name: Build NuGet Package
      run: dotnet pack Thum.io.Screenshots/Thum.io.Screenshots.csproj -c Release -o ./Artifacts

    - name: Publish Package
      run: dotnet nuget push ./Artifacts/*.nupkg -k ${{ secrets.NuGet_API_Key }} --skip-duplicate --no-symbols true